@model InsuranceApplication.Models.TransactionDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PTransaction</h4>
    <hr />
    <dl class="row">
        @*<dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.drug.Code)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.drug.Code)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.drug.MedicalName)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.drug.MedicalName)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.drug.CommercialName)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.drug.CommercialName)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.drug.CostPer)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.drug.CostPer)
        </dd>*@
        @*<dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.transaction.Count)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.transaction.Count)
        </dd>*@
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.transaction.TotalCost)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.transaction.TotalCost)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.transaction.TotalCostNoIns)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.transaction.TotalCostNoIns)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
