@model InsuranceApplication.Models.PTransaction

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PTransaction</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DrugName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DrugName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountPaid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountPaid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HolderId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HolderId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
