@model InsuranceApplication.Models.PTransactionsByPolicyHolderViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Transactions</h1>
<form asp-controller="PTransactions" asp-action="Index" method="get">
    <p>

        <select asp-for="HolderName" asp-items="Model.Holders">
            <option value="">All</option>
        </select>

        Include Processed: <input type="checkbox" asp-for="IncludeProcessed" />
        <div>
            <input type="submit" value="Update" class="btn btn-secondary btn-block text-light" style="width: 15%"/>
        </div>
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Transactions[0].Date)</th>
            <th>@Html.DisplayNameFor(model => model.Transactions[0].HolderName)</th>
            <th>@Html.DisplayNameFor(model => model.Transactions[0].Processed)</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Transactions)
{
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Date)</td>
            <td>@Html.DisplayFor(modelItem => item.HolderName)</td>
            <td>
                @{ if (item.Processed == true)
                    {
                        <p>Fully Processed</p>
                    }
                    else if (item.Processed == false)
                    {
                        <p>Not Processed</p>
                    }
                    else
                    {
                        <p>In Progress</p>
                    }
                }
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary btn-block">Details</a>
            </td>
            <td>
                @if (item.Processed != true)
                {
                    <a asp-action="ProcessAll" asp-route-id="@item.Id" class="btn btn-secondary btn-block">Process all</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
