@model InsuranceApplication.Models.Policy

@{
    ViewData["Title"] = "Details";
}

<h1>Policy Details</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.PolicyCode)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.PolicyCode)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Name)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Name)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.AgeLimit)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.AgeLimit)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.MaxCoverage)</dt>
        <dd class="col-sm-10"><label>$</label>@Html.DisplayFor(model => model.MaxCoverage)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.PercentCoverage)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.PercentCoverage)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Premium)</dt>
        <dd class="col-sm-10"><label>$</label>@Html.DisplayFor(model => model.Premium)</dd>
    </dl>
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.CoveredDrugs[0].Code)</th>
                <th>@Html.DisplayNameFor(model => model.CoveredDrugs[0].MedicalName)</th>
                <th>@Html.DisplayNameFor(model => model.CoveredDrugs[0].CommercialName)</th>
                <th>@Html.DisplayNameFor(model => model.CoveredDrugs[0].CostPer)</th>
                <th>@Html.DisplayNameFor(model => model.CoveredDrugs[0].Type)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var d in Model.CoveredDrugs)
            {
            <tr>
                <td>@Html.DisplayFor(modelItem => d.Code)</td>
                <td>@Html.DisplayFor(modelItem => d.MedicalName)</td>
                <td>@Html.DisplayFor(modelItem => d.CommercialName)</td>
                <td><label>$</label>@Html.DisplayFor(modelItem => d.CostPer)</td>
                <td>@Html.DisplayFor(modelItem => d.Type)</td>
            </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Index" class="btn btn-secondary btn-block text-light" style="width: 15%">Back to List</a>
</div>
